polkit.addRule(function(action, subject) {
    if (subject.user != "__T95_USER__") {
        return;
    }

    var allowed = [
        "org.freedesktop.udisks2.filesystem-mount",
        "org.freedesktop.udisks2.filesystem-mount-other-seat",
        "org.freedesktop.udisks2.filesystem-unmount-others",
        "org.freedesktop.udisks2.eject-media",
        "org.freedesktop.udisks2.eject-media-other-seat",
        "org.freedesktop.udisks2.power-off-drive",
        "org.freedesktop.udisks2.power-off-drive-other-seat"
    ];

    if (allowed.indexOf(action.id) >= 0) {
        return polkit.Result.YES;
    }
});
